---
layout: layout
title: いやいやここのしわ
description: いやいやここのしわ どごでみだだれ だいじょぶだな あなっきんな
keywords: いやいやここのしわ,どごでみだだれ,だいじょぶだな,あなっきんな
---


section.l-main

  .l-container

    article.l-contents.align-center

      .l-span
        .l-inner
          == link_to "いやいやここのしわ", "", :class => "btn btn01"
      .l-span
        .l-inner
          == link_to "このしわ", "", :class => "btn btn02"
      .l-span
        .l-inner
          == link_to "どごでみだだれ", "", :class => "btn btn03"

    article.l-contents.align-center

      .l-span
        .l-inner
          == link_to "あおおおう", "", :class => "btn btn04"
      .l-span
        .l-inner
          == link_to "だいじょぶだな", "", :class => "btn btn05"
      .l-span
        .l-inner
          == link_to "あなっきんな", "", :class => "btn btn06"
